<header>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top">
    <div class="container">
      <div class="navbar-collapse justify-content-start">
        <a class="navbar-brand fs-2 fw-bold" href="#">
          <i class="fa fa-shopping-cart fs-2" style="color: #f54242;"></i>
          <span class="textBlur">E-Shop</span>
        </a>
      </div>
      
      <div class="navbar-collapse justify-content-end">
        <form class="me-3" (ngSubmit)="searchProducts()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    
      <div *ngIf="filteredProducts.length > 0" class="search-results">
        <h3>Resultados:</h3>
        <div class="search-result" *ngFor="let product of filteredProducts">
          <img [src]="product.productImageUrl" alt="{{ product.productName }}">
          <p>{{ product.productName }}</p>
          <button class="btn btn-close" (click)="closeSearchResults()">&times;</button>
        </div>
      </div>
          
          
          
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!--Toggle  -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1 text-danger" href="#"
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li class="dropdown-submenu" (mouseenter)="toggleBazarSubmenu()" (mouseleave)="toggleBazarSubmenu()">
  <a class="dropdown-item" href="#">Bazar &raquo;</a>
  <ng-template [ngIf]="showBazarSubmenu">
    <ul class="dropdown-menu submenu-right">
      <li><a class="dropdown-item" href="#">Cocina</a></li>
      <li><a class="dropdown-item" href="#">Baño</a></li>
      <li><a class="dropdown-item" href="#">Mesa</a></li>
      <li><a class="dropdown-item" href="#">Deco</a></li>
      <li><a class="dropdown-item" href="#">Regalos</a></li>
      <li><a class="dropdown-item" href="#">Festividades</a></li>
    </ul>
  </ng-template>
</li>

<li class="dropdown-submenu" (mouseenter)="toggleJuguetesSubmenu()" (mouseleave)="toggleJuguetesSubmenu()">
  <a class="dropdown-item" href="#">Juguetes &raquo;</a>
  <ng-template [ngIf]="showJuguetesSubmenu">
    <ul class="dropdown-menu submenu-right">
      <li><a class="dropdown-item" href="#">Niño</a></li>
      <li><a class="dropdown-item" href="#">Niña</a></li>
      <li><a class="dropdown-item" href="#">Bebe</a></li>
    </ul>
  </ng-template>
</li>

<li class="dropdown-submenu" (mouseenter)="toggleRopaSubmenu()" (mouseleave)="toggleRopaSubmenu()">
  <a class="dropdown-item" href="#">Ropa &raquo;</a>
  <ng-template [ngIf]="showRopaSubmenu">
    <ul class="dropdown-menu submenu-right">
      <li><a class="dropdown-item" href="#">Hombre</a></li>
      <li><a class="dropdown-item" href="#">Mujer</a></li>
      <li><a class="dropdown-item" href="#">Infantil</a></li>
      <li><a class="dropdown-item" href="#">Deportiva</a></li>
    </ul>
  </ng-template>
</li>
<li class="dropdown-submenu" (mouseenter)="togglezapatillasSubmenu()" (mouseleave)="togglezapatillasSubmenu()">
  <a class="dropdown-item" href="#">Calzado &raquo;</a>
  <ng-template [ngIf]="showZapatillaSubmenu">
    <ul class="dropdown-menu submenu-right">
      <li><a class="dropdown-item" href="#">Hombre</a></li>
      <li><a class="dropdown-item" href="#">Mujer</a></li>
      <li><a class="dropdown-item" href="#">Niños</a></li>
      <li><a class="dropdown-item" href="#">Unisex</a></li>
    </ul>
  </ng-template>
</li>
            </ul>
          </li>
          
          
        
          <li class="nav-item">
            <a class="nav-link fw-semibold text-uppercase text-black me-1" href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle cart fw-semibold text-uppercase text-black me-1" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-cart-plus fs-5" style="color: #202122;"></i>
              <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                {{cartProducts.length}}
                
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end cart-dropdown cart-dropdown-full" aria-labelledby="navbarDropdown">
              <div class="CartContainer">
                <div class="row">
                  <div class="col-12">
                    <h6 class="text-center">Your Cart</h6>
                  </div>
                </div>
                <div class="row pt-1" *ngFor="let cart of cartProducts">
                  <div class="col-4 align-self-center">
                    <img class="img-fluid rounded-circle" style="max-height: 50px; width: auto;" [src]="cart.productImageUrl" alt="Product Image">
                  </div>
                  <div class="col-6 align-self-center">
                    <div class="text-truncate">{{cart.productName}}</div>
                    <div class="text-muted"><small>{{cart.quantity + 1}} item(s)</small></div>
                    <div class="text-danger">$ {{cart.productPrice}}</div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                  <div class="col-12">
                    <div class="text-end">
                      <strong>Sub-Total: ${{subTotal}}</strong>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mt-2">
                    <div class="text-end">
                      <button class="btn btn-sm btn-success" (click)="redirectToSale()">Checkout</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">
                <i class="fa fa-user" style="color: #202122; font-size: 1.2rem;"></i>
                <span class="login-text"><strong>Login</strong></span>
              </a>
            </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>
<section id="product">
  <div class="container" style="margin-bottom: 50px;">
    <router-outlet></router-outlet>
  </div>
</section>

<hr class="footer-divider">


<footer>
  <div class="footer-container">
    <nav class="footer-menu">
      <h4 class="textBlur">Navigation</h4>
      <a routerLink="/" class="menu-option textBlur">Home</a>
      <a routerLink="/cart" class="menu-option textBlur">Cart</a>
      <a routerLink="/sale" class="menu-option textBlur">Sale</a>
    </nav>

    <div class="footer-payment">
      <span class="textBlur"><h4>Payment Methods</h4></span>
      <img class="box-shadow" src="assets/visa.png" alt="Medio de pago 1">
      <img class="box-shadow" src="assets/master.png" alt="Medio de pago 2">
      <img class="box-shadow" src="assets/american.png" alt="Medio de pago 3">
    </div>

    <div class="footer-social">
      <h4>Social Network</h4>
      <a href="https://www.facebook.com" class="textBlur">Facebook</a>
      <a href="https://www.twitter.com" class="textBlur">Twitter</a>
      <a href="https://www.instagram.com" class="textBlur">Instagram</a>
    </div>
  </div>
</footer>


